<!DOCTYPE html>
<html>

<head>
    <title>Calculadora de Dano</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<body>
    <div class="calculadora-dano">
    <section>
            <div class='personagens'>
                
                <div  class='personagem' data-nome="{{personagens[0]['nome']}}" data-vida="{{personagens[0]['vida']}}">
                    <img src="{{personagens[0]['foto']}}" width='200px' height="200px"   alt="">
                    <h1>{{personagens[0]['nome']}}</h1>
                </div>


                <div  class='personagem'data-nome="{{personagens[1]['nome']}}" data-vida="{{personagens[1]['vida']}}">
                    <img src="{{personagens[1]['foto']}}" width='200px' height="200px" alt="">
                    <h1>{{personagens[1]['nome']}}</h1>
                </div>


                <div  class='personagem'data-nome="{{personagens[2]['nome']}}" data-vida="{{personagens[2]['vida']}}">
                    <img src="{{personagens[2]['foto']}}" width='200px' height="200px" alt="">
                    <h1>{{personagens[2]['nome']}}</h1>
                </div>

            </div>


            <div class='armas'>
            
                <div  class='arma'data-nome="{{armas[0]['nome']}}" data-dano="{{armas[0]['dano']}}">
                    <img src="{{armas[0]['foto']}}" width='200px' height="200px"   alt="">
                    <h1>{{armas[0]['nome']}}</h1>
                </div>


                <div  class='arma'data-nome="{{armas[1]['nome']}}" data-dano="{{armas[1]['dano']}}">
                    <img src="{{armas[1]['foto']}}" width='200px' height="200px" alt="">
                    <h1>{{armas[1]['nome']}}</h1>
                </div>


                <div  class='arma'data-nome="{{armas[2]['nome']}}" data-dano="{{armas[2]['dano']}}">
                    <img src="{{armas[2]['foto']}}" width='200px' height="200px" alt="">
                    <h1>{{armas[2]['nome']}}</h1>
                </div>
            </div>

            <div class='botao'>
                <button id='botao' onclick="calcularDanos()"><i class='fa fa-calculator'></i>Calcular Dano</button>
            </div>


    </section>


<script type="text/javascript" src="../static/index.js"></script>
</body>

</html>